*.[oa]
*~
Latex/
log/*

/www/test-preload.html
/www/img/croppedtick.png
/www/img/mytick.png
test.lisp
/password.fasl
/old-user.lisp
/macro.lisp
/common-access-defs-old.lisp
/search-git.sh
/scratch.lisp
/scripts/#scratch.lisp#
/scripts/.#scratch.lisp
/scripts/scratch.lisp
/scratch/scratch.lisp
/scratch/css/nav.css
/scratch/nav.html
/scripts/reload.lisp
/scratch/canvas.html
/scratch/check.html
/scratch/addeventlisteners.js
/scratch/drag-and-drop.lisp
/scratch/t1.js
/scratch/outp.js
/scratch/buff.js
/scratch/t.js
/scratch/asdf-output-thu20sep
/scratch/log.txt
/scratch/make-exec.lisp
/scratch/sbcl-daemon.lisp
/scratch/defmenu.lisp
/scratch/old.lisp
/dottest.dot
/dottest.png
/dottest1.png
/scratch/petri2.lisp
/testdot.dot
/trdottest.png
/scratch/DAG-BAK.lisp
/autotutor.asd-bak
/scratch/test-js-expander.lisp
/scratch/who-hack.html
/scratch/svg.lisp
/scripts/pupil.fasl
/scratch/webkit-bug.lisp
/scratch/quotes.tx
/scratch/obf.lisp
/scratch/encap.lisp
/scratch/lessons.lisp
/scripts/lessons/mod-basic-nat.fasl
/scratch/SKAT.aspx.html
/scratch/SKAT.aspx_files/ScriptResource.axd
/scratch/SKAT.aspx_files/ScriptResource.js
/scratch/SKAT.aspx_files/ScriptResource_002.axd
/scratch/SKAT.aspx_files/ScriptResource_002.js
/scratch/SKAT.aspx_files/ScriptResource_003.axd
/scratch/SKAT.aspx_files/ScriptResource_004.axd
/scratch/SKAT.aspx_files/ScriptResource_005.axd
/scratch/SKAT.aspx_files/ScriptResource_006.axd
/scratch/SKAT.aspx_files/ScriptResource_007.axd
/scratch/SKAT.aspx_files/ScriptResource_008.axd
/scratch/SKAT.aspx_files/WebResource.js
/scratch/SKAT.aspx_files/badgets.css
/scratch/SKAT.aspx_files/commonStyle.css
/scratch/SKAT.aspx_files/ga.js
/scratch/SKAT.aspx_files/getFile.jpeg
/scratch/SKAT.aspx_files/getFile_002.jpeg
/scratch/SKAT.aspx_files/getFile_003.jpeg
/scratch/SKAT.aspx_files/jquery-1.js
/scratch/SKAT.aspx_files/jquery.css
/scratch/SKAT.aspx_files/jquery.js
/scratch/SKAT.aspx_files/jquery_002.js
/scratch/SKAT.aspx_files/jquery_003.js
/scratch/SKAT.aspx_files/js.js
/scratch/SKAT.aspx_files/link.jpg
/scratch/SKAT.aspx_files/logon.gif
/scratch/SKAT.aspx_files/main.css
/scratch/SKAT.aspx_files/menu.css
/scratch/SKAT.aspx_files/metadata.gif
/scratch/SKAT.aspx_files/pdf.gif
/scratch/SKAT.aspx_files/print.gif
/scratch/SKAT.aspx_files/printInternet.css
/scratch/SKAT.aspx_files/searchBox.css
/scratch/SKAT.aspx_files/standard.js
/scratch/SKAT.aspx_files/webtrends.js
/scratch/SKAT.aspx_files/webtrends_002.js
/scratch/SKAT.aspx_files/webtrends_003.js
/scripts/lessons/mod-digs-nat.fasl
/scratch/file.lisp
/scratch/old-record.lisp
/scratch/display-groups-menu.js
/scratch/display-pupils-menu.js
/scratch/display-select-pupils-form.js
/scratch/Lispwserver.html
/scratch/Lispwserver_files/a.css
/scratch/Lispwserver_files/a.js
/scratch/Lispwserver_files/devicepx.js
/scratch/Lispwserver_files/form.js
/scratch/Lispwserver_files/g.gif
/scratch/Lispwserver_files/g_002.gif
/scratch/Lispwserver_files/ga.js
/scratch/Lispwserver_files/global-print.css
/scratch/Lispwserver_files/google_service.js
/scratch/Lispwserver_files/icon_smile.gif
/scratch/Lispwserver_files/icon_wink.gif
/scratch/Lispwserver_files/p-ab3gTb8xb3dLg.gif
/scratch/Lispwserver_files/quant.js
/scratch/Lispwserver_files/rate.js
/scratch/Lispwserver_files/rating.js
/scratch/Lispwserver_files/script.js
/scratch/Lispwserver_files/style.css
/scratch/Lispwserver_files/style_002.css
/scratch/Lispwserver_files/w.js
/scratch/Lispwserver_files/wplogo.png
/scratch/loetzch.js
/scripts/scratch.js
/scratch/scratch.js
/scratch/pupil-file.lisp
/translations/translations.lisp
/translations/translations.txt
/pupil-report.fasl
/Net/handle-string.lisp
/scratch/sp.js
/scratch/sp.lisp
/scratch/stack.js
/scratch/indir.lisp
/scratch/tio-grid-keydown-after.js
/scratch/tio-grid-keydown-before.js
/scratch/tio-grid-keypress-after.js
/scratch/tio-grid-keypress-before.js
/scratch/mvb-experiment.lisp
/scratch/mvb-test.lisp
/scratch/mvb-test.txt
/Scripts/Lessons/Xdefine-lesson.fasl
/Scripts/Lessons/namespaces2.lisp
/scratch/from-lesson-db.lisp
/autotutor.core
/scratch/screen.lisp
/adr1.txt
/log/SESS12355.txt
/log/SESS12436.txt
/log/SESS12537.txt
/log/SESS12538.txt
/log/SESS12588.txt
/scratch/myiptables.txt
/tm.core
/users/pupils/A/a0_Foofoo
/users/pupils/A/a0_Dusty
/users/pupils/A/a0_Gerry
/users/pupils/A/a0_Hope
/users/pupils/A/a0_Misty
/users/pupils/A/a0_Rusty
/users/pupils/A/a0_Sandy
/users/pupils/A/a0_Storm
/users/pupils/A/a1_Dusty
/users/teachers/A/a3_Max
/system/expiry-list.lisp
/teacher.txt
/users/pupils/A/a1_Gerry
/users/pupils/A/a1_Hope
/users/pupils/A/a1_Misty
/users/pupils/A/a1_Rusty
/users/pupils/A/a1_Sandy
/users/pupils/A/a1_Storm
/users/pupils/A/a2_Dusty
/users/pupils/A/a3_Dusty
/users/pupils/records/A/a1_Gerry-record
/users/teachers/A/a0_Foo
/REQ7594.log
/REQ7595.log
/Admin/old-bin-package.sh
/at.core
/users/pupils/D/a0_Dusty
/users/pupils/D/a1_Dusty
/users/pupils/G/a0_Gerry
/users/pupils/H/a0_Hope
/users/pupils/M/a0_Misty
/users/pupils/R/a0_Rusty
/users/pupils/S/a0_Sandy
/users/pupils/S/a0_Storm
/users/teachers/J/a0_Joe
/users/teachers/J/a0_James
/users/teachers/M/a0_Michael
/testwh-str.js
/testwh.js
/REQ2564.log
/REQ2622.log
/REQ2623.log
/REQ2634.log
/REQ2635.log
/a0_Lawrence_trial.txt
/users/teachers/J/a1_James
/users/teachers/L/a0_Lawrence
/users/teachers/S/a0_Simon
/REQ2638.log
/REQ2675.log
/users/pupils/D/a2_Dusty
/users/pupils/D/a3_Dusty
/users/pupils/G/a1_Gerry
/users/pupils/H/a1_Hope
/users/pupils/M/a1_Misty
/users/pupils/R/a1_Rusty
/users/pupils/S/a1_Sandy
/users/pupils/S/a1_Storm
/users/teachers/F/a0_Freddy
/users/teachers/R/a1_Richard
/REQ2676.log
/REQ2677.log
/REQ2678.log
